body {
  margin: 0;
  padding: 0;
  background-color: #040d12;
  color: white;
}
.navbar {
  border: 1px solid red;
}
.navbar > ul {
  list-style-type: none;
  margin: 10px 0 0 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.navbar > ul > li {
  float: left;
  color: white;
}
.navbar > ul > li > a {
  text-decoration: none;
  color: #93b1a6;
}
